<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.websocket.AlarmMapper">

<!-- 알림 생성 -->
<insert id="insertAlarm" parameterType="com.fit.vo.Alarm">
	INSERT INTO alarm
		(emp_no, alarm_content, prefix_content, alarm_date, alarm_check)
	VALUES
		(#{empNo}, #{alarmContent}, #{prefixContent}, NOW(), 'N')		
</insert>

<!-- 미확인 알림 검색 -->
<select id="selectNCked" parameterType="int" resultType="map">
	SELECT 
		alarm_no alarmNo
		, emp_no empNo
		, alarm_content alarmContent
		, alarm_date alarmDate
		, alarm_check alarmCheck
		, prefix_content prefixContent
	FROM
		alarm
	WHERE
		emp_no = #{empNo} AND alarm_check = 'N';	
</select>

<!-- 알림 확인 -->
<update id="updateAlarmCK"  parameterType="int" >
	UPDATE alarm
	SET alarm_check = 'Y'
	WHERE alarm_no = 1 AND emp_no = 1000000;
</update>







</mapper>