<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.mapper.BoardMapper">

	<!-- 게시글 추가 -->
	<insert id="addBoard" parameterType="com.fit.vo.Board">
			<selectKey order="AFTER" keyProperty="boardNo" resultType="int"><!-- 키가 반환된 후에 -->
				SELECT last_insert_id()
			</selectKey><!-- insert가 일어난 후 board_no 생성 -> 매개변수에 전달 -->
			INSERT INTO board(
				board_category
				, board_title
				, board_content
				, createdate
				, updatedate
			) VALUES (
				#{boardCategory}
				, #{boardTitle}
				, #{boardContent}
				, NOW()
				, NOW()
			)
	</insert>
	<!-- 전체 게시글 조회 (페이징 포함) -->
	<select id="selectBoardList" parameterType="String" resultType="com.fit.vo.Board">
	    SELECT
	        board_no
	        , board_category
	        , board_title
	        , board_content
	        , top_exposure
	        , createdate
	    FROM
	        board
	    WHERE
	        board_category = 
        <choose>
            <when test=" boardCategory != null and boardCategory != '' ">
                #{boardCategory}
            </when>
            <otherwise>
                '전체'
            </otherwise>
        </choose>
	    ORDER BY
	        createdate DESC;
	    LIMIT #{beginRow}, #{rowPerPage}    
	</select>
	<!-- 총 게시글 행 수 -->
	<select id="selectBoardCount" parameterType="String" resultType="int">
			SELECT
				COUNT(*)
			FROM board
			WHERE
				board_category = 
	        <choose>
	            <when test=" boardCategory != null and boardCategory != '' ">
	                #{boardCategory}
	            </when>
	            <otherwise>
	                '전체'
	            </otherwise>
	        </choose>
	</select>
	
</mapper>