<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.mapper.DraftMapper">
  
    <!-- 사원리스트 조회 -->
	<select id="getAllEmp" parameterType="int" resultType="com.fit.vo.EmpInfo">
		SELECT
			emp_no empNo,
			emp_name empName
		FROM
			emp_info
	</select>
</mapper>