<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.mapper.LoginMapper">

<!-- 세션에 저장할 로그인 정보  -->
	<select id="selectEmpForSession" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			li.emp_no AS empNo
			, fo.access_level AS accessLevel
			, fo.emp_state AS empState
			, fo.emp_name AS empName
			, fo.employ_date AS employDate
		FROM
			emp_no_list li
			INNER JOIN emp_info fo ON li.emp_no = fo.emp_no
			INNER JOIN member_info mem ON fo.emp_no = mem.emp_no
		WHERE 
			li.emp_no = #{memberId} AND mem.pw = PASSWORD( #{memberPw} );
	</select>


</mapper>