<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.mapper.ReservationMapper">

	<!-- 예약 테이플 추가 쿼리 -->
	<insert id="insertReservation" parameterType="com.fit.vo.ReservationDto">
		<selectKey order="AFTER" keyProperty="reservationNo" resultType="int">
			SELECT last_insert_id()
		</selectKey>
			INSERT INTO reservation(
				reservation_no
			,	emp_no
			,	utility_no
			,	reservation_date
			,	reservation_time
			,	createdate
			) VALUES(
				#{reservationNo}
			,	#{empNo}
			,	#{utilityNo}
			,	#{reservationDate}
			,	#{reservationTime}
			,	NOW()
			)
	</insert>
	
	<!-- 예약 테이블 추가시 차량 중복검사 쿼리 -->
	<select id="selectCarChk" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) 
		FROM reservation
		WHERE reservation_date = #{reservationDate} 
			AND utility_no = #{utilityNo} 
			AND emp_no = #{empNo}
	</select>
	
	<!-- 예약 테이블 추가시 회의실 중복검사 쿼리 -->
	<select id="selectMeetingChk" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) 
		FROM reservation
		WHERE reservation_date = #{reservationDate} 
			AND reservation_time = #{reservationTime}
			AND utility_no = #{utilityNo} 
			AND emp_no = #{empNo}
	</select>
	
	<!-- 예약 테이블 삭제하는 쿼리 -->
	<delete id="deleteReservation" parameterType="Long">
		DELETE FROM reservation
		WHERE reservation_no = #{reservationNo}
	</delete>
	
	<!-- 예약 리스트 확인하는 쿼리 -->
	<select id="selectReservationListByPage" parameterType="java.util.Map" resultType="com.fit.vo.ReservationDto">
	    SELECT
	        r.reservation_no reservationNo,
	        r.emp_no empNo,
	        r.utility_no utilityNo,
	        r.reservation_date reservationDate,
	        r.reservation_time reservationTime,
	        r.createdate createdate,
	        e.emp_name empName,
	        u.utility_category utilityCategory
	    FROM reservation r
	    	JOIN emp_info e ON r.emp_no = e.emp_no
	    	JOIN utility u ON r.utility_no = u.utility_no
	    <where>
	    	<!-- 검색 시작일이 존재하면 예역일이 해당 시작일보다 크거나 같아야 한다. 
	    	view 폼으로 부터 전달받는 DATETYPE은 YYYY-MM-DD이므로 DATE()함수를 이용하여 DATETIME타입을 DATE타입으로 맞춰준다. -->
	        <if test="startDate != null and startDate != ''">
		        AND DATE(r.reservation_date) &gt;= #{startDate}
		    </if>
	        <!-- 검색 종료일이 존재하면 예역일이 해당 시작일보다 작거나 같아야 한다. -->
	        <if test="endDate != null and endDate != ''">
		        AND DATE(r.reservation_date) &lt;= #{endDate}
		    </if>
	        <!-- 검색한 조건이 있을경우 searchCol값을 확인하여 검색 대상 열에 대해 Like절로 일치하는지 확인한다. -->
	        <if test="searchWord != null and searchWord != ''">
	            <choose>
	                <when test="searchCol == 'emp_name'">
	                    AND e.emp_name LIKE CONCAT('%', #{searchWord}, '%')
	                </when>
	                <when test="searchCol == 'utility_category'">
	                    AND u.utility_category LIKE CONCAT('%', #{searchWord}, '%')
	                </when>
	            </choose>
	        </if>
	    </where>
	   	<!-- 정렬은 col에 의해 어떤 컬럼에 대해 정렬할지 정하고 ascDesc를 통해 오름차순 or 내림차순 중 어떤 경우를 적용할지 정한다. -->
	    <choose>
		    <when test="ascDesc == 'ASC'">
		        ORDER BY ${col} ASC
		    </when>
		    <when test="ascDesc == 'DESC'">
		        ORDER BY ${col} DESC
		    </when>
		    <otherwise>
		        ORDER BY r.createdate DESC
		    </otherwise>
		</choose>
	    LIMIT #{beginRow}, #{rowPerPage}
	</select>

	
	<!-- 조건에 따른 전체 행의 개수를 확인하기 위한 메서드 -->
	<select id="selectReservationCount" parameterType="java.util.Map" resultType="int">
	    SELECT 
	        COUNT(*) CNT 
	    FROM reservation r
		    JOIN emp_info e ON r.emp_no = e.emp_no
		    JOIN utility u ON r.utility_no = u.utility_no
	    <where>
	        <if test="startDate != null and startDate != ''">
	            AND DATE(r.reservation_date) &gt;= #{startDate}
	        </if>
	        <if test="endDate != null and endDate != ''">
	            AND DATE(r.reservation_date) &lt;= #{endDate}
	        </if>
	        <if test="searchWord != null and searchWord != ''">
	            <choose>
	                <when test="searchCol == 'emp_name'">
	                    AND e.emp_name LIKE CONCAT('%', #{searchWord}, '%')
	                </when>
	                <when test="searchCol == 'utility_category'">
	                    AND u.utility_category LIKE CONCAT('%', #{searchWord}, '%')
	                </when>
	            </choose>
	        </if>
	    </where>
	</select>

	<!-- 예약 테이블에서 예약일 해당하는 행을 조회하는 쿼리 -->
	<select id="findByReservationDate" resultType="com.fit.vo.ReservationDto">
		SELECT
	        r.reservation_no reservationNo,
	        r.emp_no empNo,
	        r.utility_no utilityNo,
	        r.reservation_date reservationDate,
	        r.reservation_time reservationTime,
	        r.createdate createdate,
	        e.emp_name empName,
	        u.utility_category utilityCategory
	    FROM reservation r
	    	JOIN emp_info e ON r.emp_no = e.emp_no
	    	JOIN utility u ON r.utility_no = u.utility_no
		WHERE DATE(r.reservation_date) = #{date}
	</select>

</mapper>