<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.mapper.SalesChartMapper">
	<select id="getSalesDraftForChart" parameterType="map" resultType="map">
		SELECT
		    sd.sales_date salesDate,
		    sdc.product_category productCategory,
		    sdc.target_rate targetRate
		FROM
		    sales_draft_content sdc
		INNER JOIN
		    sales_draft sd ON sdc.document_no = sd.document_no
		INNER JOIN
		    approval a ON sd.approval_no = a.approval_no
		<where>
			a.approval_state = '결재완료' <!-- 결재완료인 매출보고서만 조회 -->
			<!-- 앞에 AND를 추가하여 여러개의 IF조건문이 참일 경우에 에러를 방지 -->
			<if test="startDate != '' and endDate != ''">
				AND sd.sales_date BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="startDate != ''">
				AND sd.sales_date &gt;= #{startDate}
			</if>
			<if test="endDate != ''">
				AND sd.sales_date &lt;= #{endDate}
			</if>
		</where>
	</select>
	
	<select id="getRecentSalesDraftForChart" resultType="map">
		SELECT
		    sd.sales_date salesDate,
		    sdc.product_category productCategory,
		    sdc.current_sales currentSales
		FROM
		    sales_draft_content sdc
		INNER JOIN
		    sales_draft sd ON sdc.document_no = sd.document_no
		INNER JOIN
		    approval a ON sd.approval_no = a.approval_no
		WHERE
			a.approval_state = '결재완료'
			AND sd.sales_date = (
				SELECT MAX(sales_date)
				FROM sales_draft
				)
	</select>
	
	<select id="getSalesDraftForMorrisChart" parameterType="map" resultType="map">
		SELECT
		    sd.sales_date salesDate,
		    AVG(sdc.target_rate) targetRate
		FROM
		    sales_draft_content sdc
		INNER JOIN
		    sales_draft sd ON sdc.document_no = sd.document_no
		INNER JOIN
		    approval a ON sd.approval_no = a.approval_no
		<where>
			a.approval_state = '결재완료' <!-- 결재완료인 매출보고서만 조회 -->
			<!-- 앞에 AND를 추가하여 여러개의 IF조건문이 참일 경우에 에러를 방지 -->
			<if test="startDate != '' and endDate != ''">
				AND sd.sales_date BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="startDate != ''">
				AND sd.sales_date &gt;= #{startDate}
			</if>
			<if test="endDate != ''">
				AND sd.sales_date &lt;= #{endDate}
			</if>
		</where>
		GROUP BY
   			 sd.sales_date;
	</select>
</mapper>