<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.mapper.UtilityMapper">

	<!-- 공용픔 상세보기 공용품 파일 정보 및 예약 번호까지 조회 -->
	<select id="selectUtilityOne" parameterType="com.fit.vo.UtilityDto"
		resultType="com.fit.vo.UtilityDto">
		SELECT
			u.utility_no utilityNo,
		    u.utility_category utilityCategory,
		    u.utility_name utilityName,
		    u.utility_info utilityInfo,
		    u.createdate,
		    u.updatedate,
		    uf.utility_ori_filename utilityOriFilename,
		    uf.utility_save_filename utilitySaveFilename,
		    uf.utility_filetype utilityFiletype,
		    uf.utility_path utilityPath,
		FROM utility u
		LEFT JOIN utility_file uf 
		ON u.utility_no = uf.utility_no
		WHERE u.utility_no = #{utilityNo}	 
	</select>
	
	<!-- 리스트를 보여줄 경우 페이징 쿼리, 마이바티스는 매개변수를 1개 받을 수 있으므로 
	Map 타입으로 currentPage, RowPerPage 넘겨줄 예정 
	추가적으로 view 레이어에서 파일이미지까지 같이 조회하기 위해 join문 사용-->
	<select id="selectUtilityListByPage" parameterType="java.util.Map"
		resultType="com.fit.vo.UtilityDto">
		SELECT
			u.utility_no utilityNo,
		    u.utility_category utilityCategory,
		    u.utility_name utilityName,
		    u.utility_info utilityInfo,
		    u.createdate,
		    u.updatedate,
		    uf.utility_ori_filename utilityOriFilename,
		    uf.utility_save_filename utilitySaveFilename,
		    uf.utility_filetype utilityFiletype,
		    uf.utility_path utilityPath
		FROM
		    utility u
		LEFT JOIN
		    utility_file uf 
		ON u.utility_no = uf.utility_no
	<where>
	    <if test="utilityCategory == '차량'">
	        AND u.utility_category = '차량'
	    </if>
	    <if test="utilityCategory == '회의실'">
	        AND u.utility_category = '회의실'
	    </if>
	    <if test="utilityCategory == ''">
	        AND '1' = '1'
	    </if>
	</where>
	ORDER BY
	    u.createdate DESC
	LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 조건에 따른 전체 행의 개수를 확인하기 위한 메서드 -->
	<select id="selectUtilityCount" parameterType="String"
		resultType="int">
		SELECT 
			COUNT(*) CNT 
		FROM utility
		<where>
			<if test="utilityCategory == '차량'">
				AND utility_category = '차량'
			</if>
			<if test="utilityCategory == '회의실'">
				AND utility_category = '회의실'
			</if>
			<if test="utilityCategory == ''">
				AND '1' = '1'
			</if>
		</where>	
	</select>
	
	<!-- 공용품을 추가하는 쿼리 -->
	<insert id="insertUtility" parameterType="com.fit.vo.UtilityDto">
		<selectKey order="AFTER" keyProperty="utilityNo" resultType="int">
			SELECT last_insert_id()
		</selectKey>
			INSERT INTO utility(
				utility_no
			,	utility_category
			,	utility_name
			,	utility_info
			,	createdate
			,	updatedate
			) VALUES(
				#{utilityNo} <!-- Utility.utilityNo -->
			,	#{utilityCategory}
			,	#{utilityName}
			,	#{utilityInfo}
			,	NOW()
			,	NOW()
			)
	</insert>
	
	<!-- 공용품을 삭제하는 쿼리 -->
	<delete id="deleteUtility" parameterType="Long">
		DELETE FROM utility
		WHERE utility_no = #{utility_no}
	</delete>
	
	<!-- 공용품을 수정하는 쿼리 -->
	<update id="updateUtility" parameterType="com.fit.vo.UtilityDto">
		UPDATE utility
		SET utility_category = #{utilityCategory}
		,	utility_name = #{utilityName}
		,	utility_info = #{utilityInfo}
		,	updatedate = NOW()
		WHERE utility_no = #{utilityNo}
	</update>
	
	<!-- 공용품 종류(회의실, 차량)에 따라 해당하는 공용품 번호를 가져오는 쿼리 -->
	<select id="selectUtilityByCategory" parameterType="string" resultType="com.fit.vo.UtilityDto">
    	SELECT 
    		utility_no utilityNo,
    		utility_name utilityName
    	FROM utility 
    	WHERE utility_category = #{category}
	</select>
	
	
</mapper>