<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.mapper.VacationMapper">
  
     <!-- 휴가 내역 리스트 조회 -->
    <select id="selectFilteredHistory" parameterType="map" resultType="com.fit.vo.VacationHistory">
        SELECT
            vacation_history_no as vacationHistoryNo,
	        emp_no as empNo,
	        vacation_name as vacationName,
	        vacation_pm as vacationPm,
	        vacation_days as vacationDays,
	        createdate
        FROM vacation_history
        WHERE emp_no = #{empNo}
             <if test="startDate != null and startDate != ''">
	            AND createdate &gt;= #{startDate}
	        </if>
            <if test="endDate != null and endDate != ''">
	            AND createdate &lt;= #{endDate}
	        </if>
            <if test="vacationName != null">
                AND vacation_name = #{vacationName}
            </if>
        ORDER BY 
        <choose>
	        <when test="col != null and col != '' and ascDesc != null and ascDesc != ''">
	            ${col} ${ascDesc}
	        </when>
	        <otherwise>createdate DESC</otherwise>
	    </choose>
        LIMIT #{beginRow}, #{rowPerPage}
    </select>
    
     <!-- 휴가 내역 데이터 총 행수 조회 -->
    <select id="selectTotalHistoryCount" parameterType="map" resultType="int">
        SELECT COUNT(*) 
        FROM vacation_history
        WHERE emp_no = #{empNo}
           	<if test="startDate != null and startDate != ''">
	            AND createdate &gt;= #{startDate}
	        </if>
	        <if test="endDate != null and endDate != ''">
	            AND createdate &lt;= #{endDate}
	        </if>
	        <if test="vacationName != null">
                AND vacation_name = #{vacationName}
            </if>
    </select>
    
    <!--  휴가 지급 및 차감 -->
    <insert id="insertVacationHistory" parameterType="com.fit.vo.VacationHistory">
	    INSERT INTO vacation_history (emp_no, vacation_name, vacation_pm, vacation_days, createdate)
	    VALUES (#{empNo}, #{vacationName}, #{vacationPm}, #{vacationDays}, NOW())
	</insert>
</mapper>